<div class="media">
  <a class="pull-right" href="#">
    <img class="media-object" src="demo/img/avatar.png" alt="avatar" width="96" height="96" />
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{username}} <span class="muted pull-left">الآن</span></h4>
    <blockquote>
  <p>{{content}}</p>
</blockquote>
  </div>
</div>
