            <div class="panel-heading clearfix">
              <h3 class="panel-title">Add comment</h3>
            </div>
            <div class="panel-body">

<div class="media">
  <a class="media-left" href="{{profile_url}}">
    <img src="{{avatar}}?s=96" alt="avatar" width="96" height="96">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{name}}</h4>
    <textarea class="form-control" rows="3" placeholder="enter your comment here"></textarea>
    <br/>
    <button type="button" class="btn btn-default pull-right">comment</button>
  </div>
</div>

            </div>
